# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
.androidide/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated
*.g.dart
*.freezed.dart
